## Gradle

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

## IntelliJ

# Gradle is the source of truth for this project; ignore IDEA settings
.idea
*.iml
kotlin-js-store

## Mac

# Mac noise...
.DS_store
